.mat-card {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.mat-field-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.mat-field-full-width {
    width: 100%;
}

input {
    color: #1F0322;
}
table {
    width: 100%;
    margin-top: 25px;
}